@page "/recent"

@using Megaphone.App.Data
@using Megaphone.App.Data.Views

@inject ResourceService service

<h1>Recent News</h1>

@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var l in list.Resources)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@l.Key</th>
                    <th></th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (var r in l.Value)
                {
                    <tr>
                        <td><a href="@r.Url">@r.Display</a></td>
                        <td width="15">
                            <a onclick="javascript:(function ()%7Bvar w=694,h=732,curUrl=window.location.href,href='https://linkedin.com/elevate/bookmarklet?url='+encodeURIComponent(@r.Url),opts='menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes,left=0,top=0';opts+=',height='+h+',width='+w;var win=window.open(href,'LinkedIn Elevate',opts);%7D)()">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </a>                            
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private ResourceListView list;

    protected override async Task OnInitializedAsync()
    {
        list = await service.GetRecent();
    }
}
